# EXAMEN PRÁCTICO – BLOQUE 1: SQL y Bases de Datos en la Nube

**Nombre del Estudiante:** _____________________________________
**Fecha:** ___________________

## Instrucciones Generales
Este notebook forma parte de la evaluación práctica. Deberá completar las celdas de código con las sentencias SQL necesarias para resolver los requerimientos planteados.

Asegúrese de haber configurado previamente su conexión a la base de datos en la nube (Clever Cloud).

In [2]:
# Instalar librerías necesarias (si es entorno local o Colab)
!pip install mysql-connector-python pandas sqlalchemy

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.5.0-cp310-cp310-win_amd64.whl.metadata (7.5 kB)
Requirement already satisfied: pandas in c:\users\jose naranjo\miniconda3\envs\uml_env\lib\site-packages (2.3.3)
Requirement already satisfied: sqlalchemy in c:\users\jose naranjo\miniconda3\envs\uml_env\lib\site-packages (2.0.44)
Requirement already satisfied: numpy>=1.22.4 in c:\users\jose naranjo\miniconda3\envs\uml_env\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\jose naranjo\miniconda3\envs\uml_env\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jose naranjo\miniconda3\envs\uml_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jose naranjo\miniconda3\envs\uml_env\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in c:\users\jose naranjo\miniconda3\envs\uml_env\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\jose naranjo\miniconda3\envs\uml_env\lib\site-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in c:\users\jose naranjo\miniconda3\envs\uml_env\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading mysql_connector_python-9.5.0-cp310-cp310-win_amd64.whl (16.5 MB)
   ---------------------------------------- 0.0/16.5 MB ? eta -:--:--
   --- ------------------------------------ 1.6/16.5 MB 12.0 MB/s eta 0:00:02
   ------ --------------------------------- 2.9/16.5 MB 15.2 MB/s eta 0:00:01
   ------ --------------------------------- 2.9/16.5 MB 15.2 MB/s eta 0:00:01
   ------ --------------------------------- 2.9/16.5 MB 15.2 MB/s eta 0:00:01
   ------ --------------------------------- 2.9/16.5 MB 15.2 MB/s eta 0:00:01
   ------ --------------------------------- 2.9/16.5 MB 15.2 MB/s eta 0:00:01
   ------ --------------------------------- 2.9/16.5 MB 15.2 MB/s eta 0:00:01
   ------ --------------------------------- 2.9/16.5 MB 15.2 MB/s eta 0:00:01
   ------------- -------------------------- 5.5/16.5 MB 3.0 MB/s eta 0:00:04
   ------------- -------------------------- 5.8/16.5 MB 2.8 MB/s eta 0:00:04
   --------------- ------------------------ 6.6/16.5 MB 2.9 MB/s eta 0:00:04
   ------------------- -------------------- 8.1/16.5 MB 3.3 MB/s eta 0:00:03
   ------------------------- -------------- 10.5/16.5 MB 3.9 MB/s eta 0:00:02
   ------------------------------ --------- 12.6/16.5 MB 4.4 MB/s eta 0:00:01
   ----------------------------------- ---- 14.7/16.5 MB 4.7 MB/s eta 0:00:01
   ---------------------------------------  16.3/16.5 MB 5.0 MB/s eta 0:00:01
   ---------------------------------------- 16.5/16.5 MB 5.0 MB/s  0:00:03
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.5.0

In [ ]:
# Configuración de la conexión a la Base de Datos
import mysql.connector
import pandas as pd

# ------------------------------------------------------------------
# Configuración 1: Ingrese aquí sus credenciales
# ------------------------------------------------------------------
# MYSQL_ADDON_HOST = 'TU_HOST_CLEVER_CLOUD'
# MYSQL_ADDON_DB = 'TU_NOMBRE_DE_BD'
# MYSQL_ADDON_USER = 'TU_USUARIO'
# MYSQL_ADDON_PORT = '3306'
# MYSQL_ADDON_PASSWORD = 'TU_CONTRASEÑA'


# ------------------------------------------------------------------
# Configuración 2 (Ejemplo - Comentado): Credenciales de referencia
# ------------------------------------------------------------------
# MYSQL_ADDON_HOST = 'bejjqtfo5qpxy25dzrx5-mysql.services.clever-cloud.comx'
# MYSQL_ADDON_DB = 'bejjqtfo5qpxy25dzrx5x'
# MYSQL_ADDON_USER = 'uub15mj5yee528rax'
# MYSQL_ADDON_PORT = '3306'
# MYSQL_ADDON_PASSWORD = 'MFWejb3U7Wmw72Zo85bxx'
# Creación del diccionario de configuración
config = {
    'user': MYSQL_ADDON_USER,
    'password': MYSQL_ADDON_PASSWORD,
    'host': MYSQL_ADDON_HOST,
    'database': MYSQL_ADDON_DB,
    'port': MYSQL_ADDON_PORT
}

# Función para ejecutar queries y mostrar resultados
def ejecutar_consulta(query):
    try:
        conn = mysql.connector.connect(**config)
        df = pd.read_sql(query, conn)
        conn.close()
        return df
    except Exception as e:
        print(f"Error: {e}")
        return None

## Parte B: DDL y DML (Scripts de Creación e Inserción)

Copie y pegue en la siguiente celda el script SQL que utilizó para crear las tablas y poblar los datos. Aunque ya lo haya ejecutado en Workbench/Clever Cloud, déjelo registrado aquí como evidencia.

In [ ]:
/*
PEGAR AQUÍ SU SCRIPT SQL (CREATE TABLE, INSERT INTO...)
Nota: Esta celda no necesita ser ejecutada desde Python si ya configuró la BD,
pero sirve de constancia.
*/

## Parte C: Consultas SQL (10 Puntos)

Responda cada pregunta escribiendo la consulta SQL correspondiente en la variable `query`.

### Consulta 1
Liste el nombre y correo de todos los estudiantes registrados.

In [ ]:
query_1 = """
SELECT ...
"""

ejecutar_consulta(query_1)

### Consulta 2
Obtenga los estudiantes cuya edad sea mayor a 20 años.

In [ ]:
query_2 = """

"""

ejecutar_consulta(query_2)

### Consulta 3
Muestre el nombre de los cursos con una duración mayor a 30 horas.

In [ ]:
query_3 = """

"""

ejecutar_consulta(query_3)

### Consulta 4
Liste los nombres de los estudiantes junto con los cursos en los que están inscritos.

In [ ]:
query_4 = """

"""

ejecutar_consulta(query_4)

### Consulta 5
Muestre cuántos estudiantes están inscritos en cada curso.

In [ ]:
query_5 = """

"""

ejecutar_consulta(query_5)

### Consulta 6
Obtenga el promedio de edad de los estudiantes.

In [ ]:
query_6 = """

"""

ejecutar_consulta(query_6)

### Consulta 7
Liste los cursos ordenados por duración de mayor a menor.

In [ ]:
query_7 = """

"""

ejecutar_consulta(query_7)

### Consulta 8
Muestre los estudiantes inscritos en el curso llamado “Bases de Datos”.

In [ ]:
query_8 = """

"""

ejecutar_consulta(query_8)

### Consulta 9
Obtenga los cursos que tienen al menos un estudiante inscrito.

In [ ]:
query_9 = """

"""

ejecutar_consulta(query_9)

### Consulta 10
Muestre la cantidad total de inscripciones registradas.

In [ ]:
query_10 = """

"""

ejecutar_consulta(query_10)